* {
  margin: 0;
  padding: 0;  
}
$exo:'Exo 2';
$bg_color:#e8edf0;
$gradient:#2ef4f7;
body{
  background-color:$bg_color;
  font-family: $exo;
  overflow:hidden;
  position: relative;
  width:100%;
  height:100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  flex-direction: column;
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top:100px;
    li{
      width:150px;
      cursor:pointer;
      text-transform: uppercase;
    }
  }
}
.itemData{
  width:720px;
  margin:100px auto;
  background-color:#bdbdbd;
  padding:50px;
  box-sizing: border-box;
  text-align: center;
}